﻿@page
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                current Time:
                <span id="currentTime">

                </span>
                <span id="currentTime2">

                </span>
            </h2>

        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/moment.js/moment.js"></script>
<script src="~/js/chat.js"></script>